<h1><%= @user.name %></h1>

<%= render 'created_events', created_events: @user.created_events %>
<%= render 'previous_events', prev_events: @prev_events %>
<%= render 'upcoming_events', upcoming_events: @upcoming_events %>